<p>This image is originally 400x400 pixels, but should get resized by the CSS:</p>
<img width="400" height="400" src="http://i.stack.imgur.com/aEEkn.png">

<p>This image is originally 400x400 pixels, but should get resized by the CSS:</p>
<img width="400" class="ajustavel" height="400" src="http://i.stack.imgur.com/aEEkn.png">

<h1>Eu Quero!</h1>
<p>
  O <span style="color: aqua">Eu Quero!</span> serve para facilitar você a encontrar o que precisa com mais agilidade e verificar promoções onde está visitando.
</p>

<p>Temos sempre a intenção de oferecer comodidade para que todos consigam aproveitar o melhor que os lugares têm a oferecer.</p>

<p>É isso. <span style="color: aqua">Eu Quero!</span></p>

