<div class="p-grid">
  <div class="categoria p-col-12">Comida</div>
    <div class="p-col-6 h-auto card-store" >
        <!--Card 1-->
        <p-card header="Habib's" text >
          <p-header>
            <img src="assets/habibs.jpg" class="image-card" r-src="imageObject">
          </p-header>
          <div style="line-height:0.8; padding: 0px" class="card-store">Pensou esfiha?</div>
          <p-footer>
            <div>
              30%off carne
            </div>  
          </p-footer>
        </p-card>
    </div>

    <div class="p-col-6 h-auto card-store" >
        <!--Card 1-->
        <p-card header="McDonald's" [style]="{width: '100%'}" styleClass="ui-card-shadow">
          <p-header>
            <div style="text-align: center">
              <img src="assets/mcdonalds.jpg" class="image-card" r-src="imageObject">
              </div>
            </p-header>
          <div style="line-height:0.8; padding: 0px" class="bg-primary card-store">Bateu a fome?</div>
          <p-footer>
            <div>
              Big Mc 8 conto!
            </div>  
          </p-footer>
        </p-card>
    </div>

    <div class="categoria p-col-12">Tecnologia</div>

    <div class="p-col-6 h-auto card-store">
        <!--Card 1-->
        <p-card header="Apple Store"[style]="{width: '100%'}" styleClass="ui-card-shadow">
          <p-header>
            <img src="assets/apple.png" class="image-card" r-src="imageObject">
          </p-header>
          <div style="line-height:0.8; padding: 0px" class="bg-primary card-store">Somos únicos</div>
          <p-footer>
            <div>
              Mundo inovador
            </div>  
          </p-footer>
        </p-card>
    </div>

    <div class="p-col-6 h-auto card-store">
        <!--Card 2-->
        <p-card header="Samsung" [style]="{width: '100%'}" styleClass="ui-card-shadow">
          <p-header>
            <img src="assets/samsung.png" class="image-card" r-src="imageObject">
          </p-header>
          <div style="line-height:0.8; padding: 0px" class="bg-primary card-store">Celular é aqui!</div>
          <p-footer>
            <div>
              Linha Galaxy 30%off
            </div>  
          </p-footer>
        </p-card>
    </div>

    <div class="categoria p-col-12">Esportes</div>

    <div class="p-col-6 h-auto card-store" >
        <!--Card 1-->
        <p-card header="Centauro" subheader="Esportes" [style]="{width: '100%'}" styleClass="ui-card-shadow">
          <p-header>
            <img src="assets/centauro.jpg" class="image-card" r-src="imageObject">
          </p-header>
          <div style="line-height:0.8; padding: 0px" class="bg-primary card-store">Líder no esporte</div>
          <p-footer>
            <div>
              Melhore sua vida
            </div>  
          </p-footer>
        </p-card>
    </div>

    <div class="p-col-6 h-auto card-store" >
        <!--Card 1-->
        <p-card header="Pod. Timão" subheader="Esportes" [style]="{width: '100%'}" styleClass="ui-card-shadow">
          <p-header>
            <img src="assets/poderoso_timao.png" class="image-card" r-src="imageObject">
          </p-header>
          <div style="line-height:0.8; padding: 0px" class="bg-primary card-store">Loja da massa</div>
          <p-footer>
            <div>
              Camisa retrô 30%off
            </div>  
          </p-footer>
        </p-card>
    </div>

    <div class="categoria p-col-12">Vestuário</div>

    <div class="p-col-6 h-auto card-store" >
        <!--Card 1-->
        <p-card header="Marisa" subheader="Vestuário" [style]="{width: '100%'}" styleClass="ui-card-shadow">
          <p-header>
            <img src="assets/marisa.png" class="image-card"r-src="imageObject">
          </p-header>
          <div style="line-height:0.8; padding: 0px" class="bg-primary card-store">De mulher pra mulher</div>
          <p-footer>
            <div>
              Lingerie 30%off
            </div>  
          </p-footer>
        </p-card>
    </div>

    <div class="p-col-6 h-auto card-store" >
        <!--Card 1-->
        <p-card header="C&A" subheader="Vestuário" [style]="{width: '100%'}" styleClass="ui-card-shadow">
          <p-header>
            <img src="assets/c&a.png" class="image-card" r-src="imageObject">
          </p-header>
          <div style="line-height:0.8; padding: 0px" class="bg-primary card-store">Abuse e use</div>
          <p-footer>
            <div>
              Liquida Vestidos
            </div>  
          </p-footer>
        </p-card>
    </div>

    <br><br><br><br>

</div>

<div class="bg-primary">A melhor esfiha é a nossa!</div>




